body {
	font-family: "Arial";

}

#page-wrapper {
    height: 100%;
    min-height: 100%;
    display: block;
    width: 100%;
    margin: 0 auto;
}

#header {
    height: 1px;
    position: relative;
}

#header, #section, #footer {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border: 0px;
    border-spacing: 0px;
}


td, th {
    display: table-cell;
    vertical-align: inherit;
}

table {
    margin: 0 auto;
    background: #ffffff;
    position: relative;
    height: 100%;
    min-height: 100%;
    padding: 0;
    border-spacing: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    display: table;
    border-collapse: separate;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}


header {
	margin: 0 auto;
    padding-right: 0px;
    padding-bottom: 64px;
    padding-left: 0px;
    position: relative;
    max-width: 1000px;


}

header .logo {
    display: table-cell;
    vertical-align: middle;
    max-width:100%;
    max-height:100%;
}

header.layout-logo-center .logo {
    text-align: center;
    display: block;
    margin: 0 0 0px 0;
    
}

header .logo.logo-image img {
    
    width: 700;
    height: 250;
    max-width: 60%;
}

img[Attributes Style] {
    width: 400px;
}

header.layout-logo-center .menu {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

header nav.menu {
    display: table-cell;
    margin-bottom: 0px;
    vertical-align: middle;
}

header nav.menu ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

header nav.menu ul li {
    padding: 0;
    display: inline-block;
}


header nav.menu ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header nav.menu ul li a:hover {
    color: grey;
}
header nav.menu ul li a:active {
    color: grey;
}

/*** Content ***/
#section  {
    vertical-align: top;
    
    padding: 60px 65px;
    padding-top: 60px;
    padding-right: 65px;
    padding-bottom: 60px;
    padding-left: 65px;

}

#section > section {
    display: block;
}


section, section a {
    color: #000000;
}

#header > header, #section > section > .container, #footer > footer {
    max-width: 1100px;
}


#header > header, #section > section > .container, #footer > footer {
    max-width: 1000px;
    margin: 0 auto;
}

.text-template-6 {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0 auto;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.text-template-6 .col {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    width: 100%;
    display: block;
}


/*** Footer ***/
#footer  {
    height: 1px;
    padding:0 0 64px 0px; 
    text-align: center;
    position: relative;
}










.container {
    max-width: 1000px;
    margin: 0 auto;
}

div {
    display: block;
}






* {
    box-sizing: border-box;

}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}





